* {
 margin:0px;
 padding:0px;
 font-family: sans-serif;
 font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: whitesmoke;
    color: #151719;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a{
    color: #151719;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a :hover{
    color: #000;

}

nav a::before{
    content:'';
    display: block;
    height: 5px;
    width:0%;
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    transition: all 200ms linear;
}

nav a:hover::before{
    width:100%;
}

#sidebar {
    position:fixed;
    width:350px;
    height:100%;
    background:#151719;
    left:-350px;
    transition:all 250ms linear;
}

#sidebar.active {
    left:0px;

}

#sidebar .toggle-btn{
    position:absolute;
    left:360px;
    top:20px;    
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background:#151719;
    margin:5px 0px;
}

#map {
    height: 1050px;
    width:1300px;
    border: 5px solid #151719;
    float: right;
}