* {
 margin:0px;
 padding:0px;
 font-family: sans-serif;
}

#sidebar {
    position:fixed;
    width:350px;
    height:100%;
    background:#151719;
    left:-350px;
    transition:all 250ms linear;
}

#sidebar.active {
    left:0px;

}

#sidebar .toggle-btn{
    position:absolute;
    left:355px;
    top:20px;    
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background:#151719;
    margin:5px 0px;
}

#map {
    width: 1500px;
    height: 1000px;
    border: 5px solid #151719;
}